.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd{
    padding: 0;
    margin: 0;
} 
body{
    background-color: #efefef;
}
body{
    margin: 0;
    padding: 0;
 }
.top-nav-bar{ 
    height: 50px;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.nav-bar-new{
    padding: 0 20px;
}
.logo{
    float: left;
    font-size: 24px;
    line-height: 50px;
    font-family: 'Arial Black';
}
.logo .t-l{
    color: #E6686A;
    margin-right: 4px;
}
.logo .t-r{
    color: #9A9DA2;
}
.logo .t-r:hover{
    color: #fff;;
}
.nav ul{
    float: right;
}
.nav li{
    font-size: 12px;
    line-height: 50px;
    font-weight: bold;
    float: left;
    margin-right: 30px;
}
.nav a{
    padding-bottom:8px;
    color: #9A9DA2;
    border-bottom: 3px solid transparent;
} 
.nav a:hover{
    color: #fff;
    border-bottom: 3px solid #EC6149;
}
.banane{
    height: 515px;
    background-size: cover;
    background: url(../images/bg.jpg) center center no-repeat;
}
.banane .mask{
    height: 515px;
    background-color: rgba(0, 0, 0, 0.8);
}
.usercard{
    /* border: 1px solid red; */
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.usercard .pic-text{
    padding: 50px;
    background-color: #fff;;
}
.pic-text .pic{
    float: left;
}
.pic-text .text{
    position: relative;
    float: left;
    width: 470px;
    margin-left: 65px;
}
.pic-text .bubble{
    display: inline-block;
    padding: 4px 16px;
    line-height: 22px;
    margin-bottom: 23px;
    background-color: #E6686A;
    color: #fff;
    font-weight: bold;
}
.pic-text .bubble:hover{
    font-size: 12px;
}
.pic-text .bubble .triangle{
    position: absolute;
    width: 100px;
    top: 30px;
    left: 4px;
    border:10px solid transparent;
    width:0px;
    height:0px;
    border-left-color: #E6686A;
    border-top-width:0px;
}
.pic-text .bubble hr{
    margin: 30px 0;
    display: inline-block;
    height: 0;
    border: none;
    border: 1px solid #ccc;
}
hr{
    margin: 22px 0;
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.text dl dt,
.text dl dd{
    float: left;
    width: 50%;
    padding: 6px 0;
}
.text dl dt{
    font-weight: bold;
}
.text dl dd{
    color: #666;
}
.usercard footer .media{
    text-align: center;
    background-color: #E6686A;
}
.usercard .media a{
    /* border: 1px solid #666; */
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    padding: 5px 0;
    line-height: 30px;
    margin: 15px 20px;
}
.usercard .media a:hover{
    width: 50px;
    background-color: rgb(209, 85, 87);
}
.usercard svg{
    width: 30px;
    height: 30px;
    fill: #fff;
    vertical-align: top;
}